.App {
  margin: 0 auto;
  width: 50%;
}

.interface{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin-top: 50px;
  padding: 20px;
}

.boxes{
  width: 45%;
  display: block;
}

